* {
box-sizing: border-box;
}

body {
font-size: 14px;
font-family: 'DM Serif Display', serif;
}

.container {
margin: 0 auto;
padding: 2em 0;
max-width: 1024px;
}

input[id="search"] {
  display: block;
  width: 42%;
  border: 2px solid lightgrey;
  border-radius: 3px;
  margin: 0 auto;
  height: 36px;
  padding: 1em;
  font-size: 13px;
  color: black;
}

ul {
  list-style: none;
  display: block;
}

ul li {
  display: inline-block;
}

ul li img {
  display: block;
  padding: 1.5em;
}

ul li span {
  display: none;
}
